work in progress...

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Add a book</h1>    
        
    <form id="addbook" action="/addbook" method="post">
       <div class="form-group">
        <label for="title"> Title</label>
        <input type="text" id="title" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="description"> Description</label><br/>
        <textarea name="description" form="newbook">Enter text here...</textarea>        
      </div>
      <div class="form-group">
        <label for="link"> Add hyperlink</label><br/>
        <input type="text" name="link">        
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit" class="btn btn-primary" value="submit">Add</button>
    </form>    
  </div>
</div>
<br/>