<div class="instructions col-md-8 col-md-offset-0">
<h1>
  Hello there!
</h1> 
<div>
<p>
  If this is your first visit, please seed the example pdf data into the database otherwise the ebooks page will be empty. To seed the data, please follow the steps below:
<ol>
  <li>Navigate to /project2/_dbseeder and run the command:</li>
  <li>cabox@box-codeanywhere:~/workspace/project2/_dbseeder$ <b>node dbseeder.js</b></li>
</ol>
<br/>
When you've seeded the pdf data you should be able to access the Ebooks link on the top left of the page and browse our ebooks.
<br/>
Under <b>Contacts</b> you can find our contacts page, where you can add, edit, list and delete contacts.
</p>
</div>
</div>
